.message_title {
    font-weight: bold;
}

.message_reply_title {
     font-weight: bold;
    opacity: 0.6;
 }

.message_text {
    font-size:14px;
}

.no_rounded_corners {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-radius: 0px;
}

.error_text {
    color: @error_color;
}

.empty-channel-title {
    font-size: 26px;
    font-weight: 800;
}

.blue {
    background: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
}

.message-input {
    background-color: #FFFFFF19;
    border-radius: 5px;
    border: 1px solid @borders;
    padding: 6px;
}

.message-input-text {
    background-color: #00000000;
}

.message-input-text text {
    background-color: #00000000;
    opacity: 1;
}

.message-input-focused {
    border: 2px solid @accent_color;
    padding: 5px;
}

.message-timestamp {
    font-size: 12px;
}

.file {
    border-radius: 5px;
    border: 1px solid @borders;
    padding: 6px;
}

.image_viewer
{
    background-color: #000000FF;
}

.popup
{
    background-color: @theme_bg_color;
}
.popup_dimming
{
    background-color: rgba(0,0,0,0.36);
}

.emoji-header
{
    font-size: 20px;
    font-weight: bold;
}

.message-widget {
    transition: background-color 500ms;
}

.message-focus {
    background-color: @theme_bg_color;
 }

.no-background {
    background-color: #00000000;
}

.reaction {
    border: 1px solid @headerbar_bg_color;
}

.reaction-me {
    border: 1px solid @accent_color;
    background-color: #3584e433;
}

.title-widget {
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

.notebook_borderless {
    border: 0;
    background-color: @theme_base_color;
}

.reply-to-box {
    background-color: @theme_base_color;
}

.context-menu-item {
    min-height: unset;
}

.popover-item-background {
    background-color: @popover_bg_color;
}

.popover-item-background-activatable {
    background-color: @popover_bg_color;
    transition: background-color 300ms;
}

.popover-item-background-activatable:hover {
    background-color: @theme_bg_color;
}
